:root{

/* --base-fs:clamp(1rem,0.5rem+1.5vw,1.25rem); */

    --p-font-size:clamp(1rem,0.93rem+0.36vw,1.125rem); 
    
    --h1-font-size:clamp(2rem,1.14rem+0.79vw,3rem);

    --h2-font-size:clamp(1.5rem,1.32rem+0.80vw,2rem);

    --h3-font-size:clamp(2rem,1.64rem+1.79rem,3rem);





}
.jobs_wrapper{

    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
    /* grid-gap: 1rem; */
    grid-gap: 0.5rem;
    /* border: 0.25rem solid gray; */
    padding: 2rem;
    /* margin: 0.25rem; */
    border-collapse: collapse;
/* css imafe optimization */
}


.vacancy_card{

    position: relative;
    display:flex;
    flex-flow: column nowrap;
    padding: 1.5rem;
    border: 0.125rem solid lightgray;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;



}

.vacancy_card p {
    font-size: 2rem;
    /* background-color:yellow; */
    color: black;
    font-style: bold;
    padding: 2.5rem;
    border-radius:50%;
    font-size: 6rem;

}


.btn_eligib{

background-color: purple;
padding: 1.5rem;
color: white;
font-size: var(--h1-font-size);
position: absolute;
bottom: 0;
left:0;
width: max-content;
border:none;

}

.btn_apply{

background-color: green;
padding: 1.5rem;
color: white;
font-size: var(--h1-font-size);
position:absolute;
bottom: 0.25rem;
right: 0.5rem;
height: max-content;
border: none;


}

.vacancy_card >button {

    cursor:pointer;
    transition: all 200ms ease-in-out;



}

@media(min-width:768px){

   .btn_apply{
       position: absolute;
       top:0.25rem;
       right: 0.5rem;
   }



}





.vacancy_card > button:hover{

    transform: scale(1.08);


}
