
.jobs_wrapper{

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,20rem);
    grid-gap: 0.25rem;
    padding: 0.25rem;

}

@media(min-width:1024px){

    .jobs_wrapper{


    grid-template-columns: repeat(3,1fr);

    }


}


.vacancy_card{

    position: relative;

    display: flex;
    flex-direction: column;
    
    border:0.025rem solid slateblue;
    cursor: pointer;
    transition:all 200ms ease-in-out;
    padding: 0.25rem;
    
}

@media(min-width:1024px){

    .vacancy_card{
        align-items: center;
        /* justify-content: center; */
    }


}


.vacancy_card > .btn_eligib{

    width:max-content ;
    height: max-content;
    position: absolute;
    left: 1%;
    bottom: 2%;
    font-size:1rem;
    transition:all 200ms ease-in;
    background-color: #042326;


}

@media(min-width:768px){

    .vacancy_card > .btn_eligib{

        font-size:2rem;



    }





}




.vacancy_card > .btn_apply{

    width:max-content ;
    height: max-content;
    position: absolute;
    left: 60%;
    bottom: 2%;
    font-size:1rem;
    padding-inline: 2rem;
    background-color: green;
    transition:all 200ms ease-in;
}



@media(max-width:600px){

    .vacancy_card > .btn_apply{

        left: 50%;


    }




}





@media(min-width:768px){

    .vacancy_card > .btn_apply{

        font-size:2rem;
        left: 60%;



    }





}

@media(min-width:1024px) {

    .vacancy_card > .btn_apply{

        left: 72%;




    }




}








.vacancy_card>button:hover{
    transform: scale(1.15);
}

